altgraph==0.17.3
arabic-reshaper==2.1.4
asgiref==3.5.2
boto3==1.21.2
botocore==1.24.46
certifi==2022.9.24
charset-normalizer==2.1.1
dj-database-url==0.5.0
Django==2.2
django-admin-logs==1.0.2
django-ckeditor==6.2.0
django-cleanup==7.0.0
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-storages==1.12.3
et-xmlfile==1.1.0
gunicorn==20.1.0
html5lib==1.1
idna==3.4
jmespath==0.10.0
openpyxl==3.0.10
pefile==2022.5.30
Pillow==9.1.0
psycopg2==2.8.6
psycopg2-binary==2.9.5
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyPDF2==2.12.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.6
pywin32-ctypes==0.2.0
reportlab==3.6.6
requests==2.28.1
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.3
typing_extensions==4.4.0
tzdata==2022.6
urllib3==1.26.13
webencodings==0.5.1
whitenoise==5.3.0
xhtml2pdf==0.2.5
